* {
    box-sizing: border-box;
  }

#container{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}